# OpenSSL 1.0.2u
binary "https://raw.githubusercontent.com/cossacklabs/openssl-apple/cossacklabs-v2/carthage/openssl-static-iOS.json"   ~> 1.0.221
binary "https://raw.githubusercontent.com/cossacklabs/openssl-apple/cossacklabs-v2/carthage/openssl-static-macOS.json" ~> 1.0.221
