# OpenSSL 1.0.2u
binary "https://raw.githubusercontent.com/cossacklabs/openssl-apple/cossacklabs/carthage/openssl-iOS.json"   ~> 1.0.221
binary "https://raw.githubusercontent.com/cossacklabs/openssl-apple/cossacklabs/carthage/openssl-macOS.json" ~> 1.0.221
